<div class="d-none d-xl-block col-xl-3 right-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="card rounded shadow-sm">
                <div class="card-body">
                    <h6 class="card-title">Recent Post By others</h6>
                </div>
            </div>
        </div>
    </div>
</div>