@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/util.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/css/main.css">
<style>
    .backround {
        background-image: url("https://www.weyougo.in/images/logo.png");
        background-size: cover;
        width: 222px;
        height: 105px;
    }

    body {
        background-image: url('/Images/bg-01.jpg');
    }

    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

        .active, .collapsible:hover {
            background-color: lightsalmon;
        }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: lightblue;
    }
</style>
<nav>
    <div class="toggle-wrap">
        <span class="toggle-bar"></span>
    </div>
    <hgroup>
    </hgroup>
</nav>
<aside>
    <a href="/Home/About">About Us</a>
    <a href="/Home/Mission">Mission</a>
    <a href="/Home/ContactUs">Contact Us</a>
    <a href="/Home/PrivacyPolicy">Privacy Policy</a>
    <a href="/AppUsers/Index">Login</a>
</aside>
<div class="section_container pt_80">


    <div id="_prpolicy" class="section-padding-top">
        <div class="container">
            <div class="row">
                <div class="heading_tittle">
                    <h2 class="text-center">Privacy Policy</h2>
                    <div class="details_section">
                        <p>
                            Weyougo’s mission is to grow a meaningful network of people in your industry and beyond. Central to this mission is our commitment to be transparent about the data we collect about you, how it is used and with whom it is shared. This Privacy Policy applies
                            when you use our Services (described below). We offer our users choices about the data we collect, use and share as described in this Privacy Policy
                        </p>
                        <h2 class="text-center">INTRODUCTION</h2>
                        <p>
                            Our registered users (“Members”) share their professional identities, engage with their network, exchange knowledge and professional insights, post and view relevant content, learn and develop skills, and find business and career opportunities. Content
                            and data on some of<br>our Services is viewable to non-members (“Visitors”).
                        </p>
                        <p>This privacy policy applies to weyougo.in. As a Visitor or Member of our Services, the collection, use and sharing of your personal data is subject to this Privacy Policy and other documents referenced in this Privacy Policy, as well as updates. </p>
                        <p>
                            Weyougo.in can modify this Privacy Policy, and if we make material changes to it, we will provide notice through our Services, or by other means, to provide you the opportunity to review the changes before they become effective. If you object to any changes,
                            you may close your account.You acknowledge that your continued use of our Services after we publish or send a notice about our changes to this Privacy Policy means that the collection, use and sharing of your personal data is subject to the updated
                            Privacy Policy, as of its effective date.
                        </p>
                        <button type="button" class="collapsible">DATA WE COLLECT</button>
                        <div class="content">
                            <p>
                                To create an account you need to provide data including your name, email address and/or mobile number, and a password.You have choices about the information on your profile, such as your education, work experience, skills,
                                photo and city or area. You don’t have to provide additional information on your profile; however, profile information helps you to get more from our Services, including helping recruiters and business opportunities find you. It’s your choice
                                whether to include sensitive information on your profile and to make that sensitive information public. Please do not post or add personal data to your profile that you would not want to be publicly available.We collect personal data from you
                                when you provide post or upload it to our Services. You and others may post content that includes information about you (as part of articles, posts, comments, videos) on our Services. Unless you opt-out, we collect public information about you,
                                such as professional-related news and accomplishments. We receive personal data (including contact information) about you when others import or sync their contacts or calendar with our Services, associate their contacts with Member profiles, scan
                                and upload business cards, or send messages using our Services (including invites or connection requests).We collect information about you when you send, receive, or engage with messages in connection with our Services. For example, if you get
                                a Weyougo.in connection request, we track whether you have acted on it and will send you reminders.Our Services are dynamic, and we often introduce new features, which may require the collection of new information. If we collect materially different
                                personal data or materially change how we collect, use or share your data, we will notify you and may also modify this Privacy Policy.
                            </p>
                        </div>
                        <button type="button" class="collapsible">HOW WE USE YOUR DATA</button>
                        <div class="content">
                            <p>
                                How we use your personal data will depend on which Services you use, how you use those Services and the choices you make in your settings. We use the data that we have about you to provide and personalize our Services,
                                including with the help of automated systems and inferences we make, so that our Services (including ads) can be more relevant and useful to you and others. Our Services allow you to stay in touch and up to date with colleagues, partners, clients,
                                and other professional contacts. To do so, you can “connect” with the professionals who you choose, and who also wish to “connect” with you. Subject to your and their settings, when you connect with other Members, you will be able to search each
                                other’s’ connections in order to exchange professional opportunities.We use data about you to help others find your profile, suggest connections for you and others (e.g. Members who share your contacts or job experiences) and enable you to invite
                                others to become a Member and connect with you. You can also opt-in to allow us to use your precise location or proximity to others for certain tasks. <br>It is your choice whether to invite someone to our Services, send a connection request,
                                or allow another Member to become your connection. When you invite someone to connect with you, your invitation will include your network and basic profile information (e.g., name, profile photo, job title, and region). We will send invitation
                                reminders to the person you invited. You can choose whether or not to share your own list of connections with your connections.Our Services allow you to stay informed about news, events and ideas regarding the hospitality and aviation industry,
                                and from professionals you respect. Our Services allow you to collaborate with colleagues, search for potential clients, customers, partners and others to do business with. It allows you to build a Professional Reputation based on the content
                                you share and engage on, again relevant to you career or business goals. We provide you a platform to engage in conversations with the professionals of the hospitality, travel and aviation industry relevant to who you are and what you do. By using
                                our platform you can build network by making new connections relevant to your goals (career or business). <br>We will contact you through email, mobile phone, notices posted on our websites. We will send you messages about the availability of
                                our Services, security, or other service-related issues. We also send messages about how to use our Services, network updates, reminders, job suggestions and promotional messages from us and our partners. You may change your communication preferences
                                at any time. Please be aware that you cannot opt out of receiving service messages from us, including security and legal notices. <br>We will show you ads called sponsored content which look similar to non-sponsored content, except that they are
                                labeled as advertising (e.g., as “ad” or “sponsored”). If you take a social action (such as like, comment or share) on these ads, your action is associated with your name and viewable by others, including the advertiser. We do not share your personal
                                data with any third-party advertisers or ad networks except for:
                                <ul>
                                    <li>
                                        1.hashed IDs or device identifiers (to the extent they are personal data in some countries).
                                    </li>
                                    <li>
                                        2.with your separate permission (e.g., in a lead generation form).
                                    </li>
                                    <li>
                                        3.data already visible to any users of the Services (e.g., profile). However, if you view or click on an ad on or off our Services, the ad provider will get a signal that someone visited the page that displayed the ad, and they may, through the use of
                                        mechanisms such as cookies, determine it is you. Advertising partners can associate personal data collected by the advertiser directly from you with hashed IDs or device identifiers received from us. In such instances, we seek to contractually
                                        require such advertising partners to obtain your explicit, opt-in consent before doing so. <br>We use data (which can include your communications) to investigate, respond to and resolve complaints and for Service issues (e.g., bugs).We use your
                                        data to produce and share insights that do not identify you. For example, we may use your data to generate statistics about our members, their profession or industry, to calculate ad impressions served or clicked on, or to publish visitor demographics
                                        for a Service or create demographic workforce insights.We use your data (including your communications) for security purposes or to prevent or investigate possible fraud or other violations.
                                    </li>
                                </ul>
                            </p>
                        </div>
                        <button type="button" class="collapsible">HOW WE SHARE INFORMATION</button>
                        <div class="content">
                            <p>
                                Our Services allow viewing and sharing information including through posts, likes, follows and comments.When you share an article or a post (e.g., an update, image, video or article) publicly it can be viewed by everyone
                                and re-shared anywhere (subject to your settings). Members, Visitors and others will be able to find and see your publicly-shared content, including your name (and photo if you have provided one). We will share your personal data with our affiliates
                                to provide and develop our Services. We may combine information internally across the different Services covered by this Privacy Policy to help our Services be more relevant and useful to you and others. For example, we may personalize your feed
                                or job recommendations based on your learning history. We use others to help us provide our Services (e.g., maintenance, analysis, audit, payments, fraud detection, marketing and development). They will have access to your information as reasonably
                                necessary to perform these tasks on our behalf and are obligated not to disclose or use it for other purposes.It is possible that we will need to disclose information about you when required by law, subpoena, or other legal process or if we have
                                a good faith belief that disclosure is reasonably necessary to
                                <ul>
                                    <li>
                                        1.investigate, prevent or take action regarding suspected or actual illegal activities or to assist government enforcement agencies.
                                    </li>
                                    <li>
                                        2.enforce our agreements with you;
                                    </li>
                                    <li>
                                        3.investigate and defend ourselves against any third-party claims or allegations.
                                    </li>
                                    <li>
                                        4.protect the security or integrity of our Services (such as by sharing with companies facing similar threats).
                                    </li>
                                    <li>
                                        5.exercise or protect the rights and safety of LinkedIn, our Members, personnel or others. We attempt to notify Members about legal demands for their personal data when appropriate in our judgment, unless prohibited by law or court order or when the request is an emergency. We may dispute such demands
                                        when we believe, in our discretion, that the requests are overbroad, vague or lack proper authority, but we do not promise to challenge every demand.We can also share your personal data as part of a sale, merger or change in control, or in preparation
                                        for any of these events. Any other entity which buys us or part of our business will have the right to continue to use your data, but only in the manner set out in this Privacy Policy unless you agree otherwise.
                                    </li>
                                </ul>
                            </p>
                        </div>
                        <button type="button" class="collapsible">OTHER IMPORTANT INFORMATION</button>
                        <div class="content">
                            <p>
                                We implement security safeguards designed to protect your data, such as HTTPS. We regularly monitor our systems for possible vulnerabilities and attacks. However, we cannot warrant the security of any information
                                that you send us. There is no guarantee that data may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards. <br>We will only collect and process personal data about you where we
                                have lawful bases. Lawful bases include consent (where you have given consent), contract (where processing is necessary for the performance of a contract with you (e.g., to deliver the <b>Weyougo</b> Services you have requested) and “legitimate
                                interests.”Where we rely on your consent to process personal data, you have the right to withdraw or decline your consent at any time and where we rely on legitimate interests, you have the right to object.We currently do not share personal data
                                with third parties for their direct marketing purposes without your permission.If you have questions or complaints regarding this Policy,please first contact Weyougo online. You can also reach us by physical mail.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    (function () {
        $('.toggle-wrap').on('click', function () {
            $(this).toggleClass('active');
            $('aside').animate({ width: 'toggle' }, 200);
        });
    })();
    var coll = document.getElementsByClassName("collapsible");
    var i;
    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
